.form-container {
    width: 100%;
    max-width: 420px;
    padding: 0px;
    margin:0;
    background-color: #fff;
}

.form-group {
    margin-bottom: 5px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.button-group button {
    padding: 10px 15px;
    cursor: pointer;
}

.errmsg span {
    display: block;
    height: 1.1em;
    font-weight: bold;
    color: red;
} 

